<h1>UsersController#index</h1>
<h2>login_test</h2>

<%= form_with(scope: :search, method: :get, local: true) do |form| %> 
    <div>
        <%= form.label :name, "検索ワード" %>
        <%= form.text_field :name, value: @search_params[:name] %><br>
        <%= form.label :email, "内容検索"%>
        <%= form.text_field :email, value: @search_params[:email]%>
    </div>
    <%= button_to "検索", user_path(form)%>
    <%= link_to "新しい投稿", new_user_path%><br>
    <%= @search_params%><br>
<% end %>

<ul>
    <% @users.each do |user| %>
        <div class="user_info">
            ユーザ名：<%= user.name%>
            メールアドレス：<%= user.email%>
            作成日：<%= user.created_at %>
            <!-- <%= button_to "削除", user_path(user), method: :delete %> -->
        </div>
    <%end%>
</ul>

