<h1>UsersController#index</h1>

<body>
<div class="center">
<%= form_with(scope: :search, method: :get, local: true) do |form| %> 
    <div>
        <div class="field">
            <div class="box">
                <%= form.label :name, "検索ワード" %>
                <%= form.text_field :name, value: @search_params[:name] %><br>
            </div>
            <div class="box">
                <%= form.label :email, "内容検索"%>
                <%= form.text_field :email, value: @search_params[:email]%>
            </div>
            <div class="box">
                <input type="checkbox" id="hide">
                <label class="hide" for="hide">表示</label>
                <div class="hide-and-seek">
                    <input type="checkbox" name="test1"><br>
                    <input type="checkbox" name="test2"><br>
                    <input type="checkbox" name="test3">
                </div>
            </div>
        </div>
    </div>
    <%= button_to "検索", user_path(form)%>
<% end %>
<table>
<tr>
    <th><%= link_to "新しい投稿", new_user_path%></th>
    </tr>
<tr>
<th>test1</th><th>test2</th><th>test3</th></tr>
    <% @users.each do |user| %>
        <tr>
            <td>ユーザ名：<%= user.name%></td>
            <td>メールアドレス：<%= user.email%></td>
            <td>作成日：<%= user.created_at %><td>
        </tr>
        <!-- <%= button_to "削除", user_path(user), method: :delete %> -->
    <%end%>
</table>
</div>
</body>

